* {
    font-family: arial;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #acacac;
}
.app {
    background-color: #000000;
    padding: 16px;
    border-radius: 10px; 
    color:#fff;   
}
input {
    margin: 8px 0;
    padding: 8px;
    outline: none;
}
#btn-calcular {
    background-color: rgb(255, 0, 0);
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}